<nav class='nav-bar'>
   <div class="nav-wrapper teal lighten-2">
     <a href="#" class="brand-logo">Ember Barista</a>
   </div>
</nav>
<a {{action 'toggle'}} href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>

{{side-nav items=sidenav}}
<div class='row content'>
  <div class='col s12 m5 l4 sidebar content resize horizontal' >
    <div class='card content'>
      {{sidebar-list elements=elements}}
    </div>
  </div>
  <div class='col s12 m7 l8 page content'>
    <div class='card content scrollable'>
      <ul class='collection'>
      {{#each scenarios as |scenario|}}
        {{scenario-card elements=elements scenario=scenario}}
      {{/each}}
    </ul>
    </div>
    {{menu-items}}
  </div>
</div>


<!-- Modals -->
{{scenario-modal content=elements}}
