<nav class='nav-bar'>
   <div class="nav-wrapper teal lighten-2">
     <a href="#" class="brand-logo">Ember Barista</a>
   </div>
</nav>
<a {{action 'toggle'}} href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>

{{side-nav items=sidenav}}
<div class='row content'>
  <div class='col s12 m5 l4 sidebar content resize horizontal' >
    <div class='card content'>
      {{sidebar-list elements=elements types=types edit=(action 'edit')}}
    </div>
  </div>
  <div class='col s12 m7 l8 page content'>
    <div class='card content scrollable'>
      <ul class='collection'>
      {{#each scenarios as |scenario|}}
        {{scenario-item elements=elements scenario=scenario}}
      {{/each}}
      <li {{action 'add' elements}}class='scenario collection-item dashed last'>
        <a href="#!"><i class="material-icons medium">add</i></a>
      </li>
    </ul>
    </div>
    <div class="fixed-action-btn" style="bottom: 24px; right: 24px;">
      <a {{action 'publish' scenarios}} class="btn-floating btn-large waves-effect waves-light"><i class="material-icons">launch</i></a>
    </div>
  </div>
</div>

<!-- Modals -->
{{element-modal el=currentElement}}
