{{#each elements as |el|}}
 <li class="collection-item avatar">
   {{log el}}
   <i class="material-icons circle">{{el.icon}}</i>
   <span class="title">
     {{spawning-input
       isFocused=property.isFocused
       value=el.label
       onEnter=(action 'add' elements)
       onChange=(action 'updateElement' el)
     }}
   </span>
   <div class='options'>
     <a {{action 'edit'}} href="#!" class="secondary-content" style='position: absolute; top:5px; right 0;'><i class="material-icons">mode_edit</i></a>
     <a {{action 'add' elements}} href="#!" class="secondary-content" style='position: absolute; top:35px; right 0;'><i class="material-icons">queue</i></a>
   </div>
 </li>
{{/each}}
{{yield}}
