{{#sortable-group class='collection content' tagName="ul" onChange="reorderItems" as |group|}}
  {{#each elements as |el i|}}
    {{#sortable-item tagName="li" class='collection-item avatar' model=el group=group handle=".handle"}}
      {{sidebar-avatar type=el.type}}
      <span class="title">
        {{spawning-input
          isFocused=property.isFocused
          value=el.label
          type=el.type
          onEnter=(action 'add' elements)
          onChange=(action 'updateElement' el)
        }}
      </span>
      <div class='options'>
        <a {{action 'delete' elements el}} href="#!" class="secondary-content" style='position: absolute; top:5px; right 0;'><i class="material-icons">delete</i></a>
        <a {{action 'add' elements}} href="#!" class="secondary-content" style='position: absolute; top:35px; right 0;'><i class="material-icons">queue</i></a>
      </div>
      <i class='handle material-icons tiny'>reorder</i>
    {{/sortable-item}}
  {{/each}}
{{/sortable-group}}

{{yield}}
